<div>
  <li id="tweet-<%= tweet.id %>">
    <%= link_to gravatar_for(tweet.user, "50x50"), tweet.user %>
    <span class="user"><%= link_to tweet.user.name, tweet.user %></span>
    <span class="content"><%= tweet.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(tweet.created_at) %> ago.
    </span>
    <% if current_user?(tweet.user) %>
      <%= link_to "delete", tweet, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </li>
</div>
